.slider-products
    .slider-products__item
        .slider-products__photo
            img(src=way+'/content/slider-products-r.png' alt='slider-product')
            img(src=way+'/content/slider-products-l.png' alt='slider-product')
        .slider-products__text
            .description-products
                h2.description-products__title Open Heart Top
                p.description-products__price $13.95
                p.description-products__text
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam corporis cumque dolorum, harum hic maxime nisi reprehenderit repudiandae similique sit totam. Facere fugiat illum quam reprehenderit sint, sit voluptatibus!
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet,
                    |animi aperiam atque illo magni nesciunt officia perspiciatis, qui sed sunt tempora,
                    |vero voluptas? Dolorem incidunt odit quae rerum veritatis?

                a.btn-shop.btn-shop_after.description-products__btn Add to cart
                    img(class='btn-shop__img' src=way+'/general/plus.png' alt='plus')
    .slider-products__item
        .slider-products__photo
            img(src=way+'/content/slider-products-r.png' alt='product')
            img(src=way+'/content/slider-products-l.png' alt='product')
